# GCP Project
PROJECT=

# Cloud SQL Instance name (or VM Name)
INSTANCE=

# Database to generate credentials
DATABASE_NAME=

# Database IP Adress or DNS
DATABASE_HOST=

# Vault Roles to be created
ROLES=( "ro" "migration" "dba" )

# Database user name to create new credentials 
USER_NAME=

# Database user passwordto create new credentials
PASSWORD=

